/* App.css */
body {
  background-color: lightblue; /* Any color you like */
  margin: 0;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 400px;
  margin: auto;
}

form {
  margin-bottom: 20px;
  color: #ffd500;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}

button {
  padding: 8px 12px;
  color: #ff0000;
}

.error-message {
  color: red;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

